body {
  font-family: 'Open Sans', sans-serif;
  
}

.container {
  position: relative;
}

.header-container {
  display: block;
  margin-top: 20px;
}

.header-container.hide {
  display: none;
}

.logo-container {
  margin: 0 auto;
  width: 30%;
  margin-left: 35%;

}
.logo-container.small {
  display: inline-block;
  width: 25%;
  margin: 10px 10px;
  transition: width 500ms 500ms, margin 500ms 500ms;
}

.logo-container img {
  width: 90%;
}

.logo-container.small img {
  width: 50%;
  transition: width 500ms 500ms;  
}

.search-bar {
  max-height: 100px;
  opacity: 1.0;
  box-sizing: border-box;
  transition: max-height 500ms, opacity 500ms;
}

.search-bar.hide {
  transition: max-height 1500ms 500ms, opacity 500ms;
  opacity: 0.0;
  max-height: 0px;
}

form {
  text-align: center;
}

form.container {
  display: flex;
  flex-direction: column;
}


.btn-primary {
  margin-top: 10px;
}


ul {
  padding: 0
}

.thumb-container {
  max-width: 200px;
  max-height: 200px;
  display: inline-block;
}

.thumb-container img {
  width: 100%;
  padding: 10px;
}

.card {
  display: flex;
  width: 80%;  
}

.detail-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.flex-row {
  flex-grow: 1;
  width: 100%;
  flex-wrap: nowrap;
}

.details {
  display: flex;
  flex-direction: column;
  width: initial;
}

.filter-controls {
  display: flex;
}

.filter-container {
  height: 0;
  opacity: 0;
  vertical-align: top;
  margin-top: 20px;
  width: 66%;
}

.filter-container.index {
  height: 100%;
  display: inline-block;
  opacity: 1;
  transition: opacity 500ms 1500ms, height 500ms 1500ms;
}

@media only screen and (min-width: 767px) { 
  .filter-container.index { 
    margin-top: 50px;
  }
}

.close-container {
  position: absolute;
  top: 0;
  right: 0;
}

.close-link {
  padding: 10px;
  margin: 5px;
}

.rangeslider {
  display: inline-block !important;
}

.image-container {
  width: 100%;
}

.image-container img {
  width: 100%;
}